*{
    margin: 0;
    padding: 0;

}
* {
    margin: 0;
    padding: 0;
    font-family: "Comfortaa", sans-serif;
}

header {
    /* border: 2px solid brown; */
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(242, 244, 247);
    position: fixed;

}

.header-p1 {
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500px;
    margin-left: 30px;
    margin-top: 20px;
}

.header-p2 {
    font-size: 12px;
    margin-left: 20px;
    margin-top: 26px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
}

.header-p2:hover {
    filter: drop-shadow(0 0 0.5rem rgb(231, 225, 213));
    font-size: medium;
}

.header-btn {
    height: 28px;
    width: 120px;
    margin-right: 50px;
    font-family: "Comfortaa", sans-serif;
    font-size: 12px;
    margin-top: 20px;
    border-radius: 30px;
    border: 1px solid grey;
    text-align: center;
}

.header-btn:hover {
    filter: drop-shadow(0 0 0.2rem rgb(235, 226, 208));
    font-size: 14;
    background-color: rgb(231, 225, 213);
    color: rgb(20, 19, 17);
    height: 30px;
    width: 122px;
}

.section-1 {
    height: 800px;
    width: 100%;
    display: flex;
    background-color: rgb(242, 244, 247);
}

.sec-div1 {
    height: 450px;
    width: 700px;
    margin-top: 200px;
}

.div-p1 {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 40px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.div-p2 {
    font-size: 30px;
    margin-top: 10px;
    margin-left: 40px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

.div-p3 {
    font-size: 17px;
    margin-top: 10px;
    margin-left: 40px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;

}

.sec-div-main {
    display: flex;
    height: 50px;
    width: 400px;
    margin-left: 40px;
    justify-content: start;
    align-items: center;
    gap: 50px;
    margin-top: 20px;

}

.sec-div-b1 {
    height: 30px;
    width: 120px;
    color: white;
    background-color: black;
    border-radius: 50px;
    font-size: 10px;
    border: 0.5px solid black;

}

.sec-div-b1:hover {
    filter: drop-shadow(0 0 0.2rem rgb(235, 226, 208));
    font-size: 14;
    background-color: rgb(231, 225, 213);
    color: rgb(20, 19, 17);
    height: 30px;
    width: 122px;
}

.sec-div-b2 {
    height: 30px;
    width: 120px;
    color: rgb(19, 10, 10);
    background-color: rgb(247, 246, 246);
    border-radius: 50px;
    font-size: 10px;
    border: 0.5px solid black;
}

.sec-div-b2:hover {
    filter: drop-shadow(0 0 0.2rem rgb(235, 226, 208));
    font-size: 14;
    background-color: rgb(231, 225, 213);
    color: rgb(20, 19, 17);
    height: 30px;
    width: 122px;
}

.sec-div2-img1 {

    height: 250px;
    width: 600px;
    margin-top: 200px;
    margin-right: 10px;


}

.sec-div2-img1:hover {
    height: 255px;
    width: 610px;
    margin-top: 200px;
    transition: all 0.2s 0.2s ease-in;
}

.section-2 {
    height: 470px;
    width: 100%;
    display: flex;
}

.sec-2-head {
    height: 50px;
    width: 100%;


}

.sec-2-head-p1 {
    margin-top: 30px;
    font-size: 15px;
    margin-left: 20px;

}

.sec-2-head-p2 {
    margin-top: 5px;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 500;
}

.sec-2-head-img1 {
    height: 300px;
    width: 640px;
    margin-left: 20px;

}

.sec-2-head-img1:hover {
    height: 310px;
    width: 690px;
    margin-left: 20px;
    transition-property: margin-right, color;

}

.sec-2-head-p3 {
    margin-top: 5px;
    font-size: 13px;
    margin-left: 20px;
    color: rgb(154, 155, 156);
    font-weight: 400px;
}

.sec-2-head-p4 {
    margin-top: 5px;
    font-size: 20px;
    margin-left: 20px;
    font-weight: 600;
}

footer {
    height: 200px;
    width: 100%;
    background-color: rgb(242, 244, 247);
}

.footer-1 {
    color: black;
    text-align: center;
    font-size: 12px;
    justify-content: center;
    padding-top: 50px;
}